html {
    background-color: pink;
}
body {
    width: 600px;
    margin: 0 auto;
    background: white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    width: 20em;
    margin: 0 auto;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: lightpink;
    text-shadow: 3px 3px 1px yellow;
}
