#box {
    display: flex;
    height: 500px;
}
.item1 {
    background-color: pink;
    flex: 1 0 10px;
    order: 2;
    align-self: center;
}
.item2 {
    background-color: blue;
    order: 1;
}
.item3 {
    background-color: gray;
}
.item4 {
    background-color: greenyellow;
}
.item5 {
    background-color: lightsalmon;
}
.item6 {
    background-color: lightskyblue;
}
.item7 {
    background-color: lightpink;
}
.item8 {
    background-color: lightcyan;
}
.item9 {
    background-color: lightcoral;
}
